.container-fluid {
    margin-top: 50px;
    overflow: hidden;
}

.basecard {
    display: block;
    height: 370px;
    width: 250px;
    position: relative;
    perspective: 3000px;
    margin: auto;
}

.mycard {
    position: absolute;
    height: inherit;
    width: inherit;
}

.basecard div:first-child {
    background-color: #000 !important;
}

.basecard div:nth-child(2) {

    background-color: #ff0 !important;
}

.basecard div:nth-child(3) {

    background-color: #f00 !important;
}

.basecard div:nth-child(4) {

    background-color: #f0f !important;
}

.basecard div:nth-child(5) {

    background-color: #00f !important;
}

.basecard div:nth-child(6) {

    background-color: #0f0 !important;
}

.basecard div:last-child {

    background-color: #0ff !important;
}

